@font-face {
  font-family: unifont;
  src: url(UnifontExMono.ttf)
    format("truetype");
}

body {
  background-color: white;
  color: black;
  font-family: unifont, sans-serif;
  font-size: x-large;
  letter-spacing: 1px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}