:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --dark-stripe: #6e6e6e;
  --light-stripe: #757575;
}

@font-face {
  font-family: unifont;
  src: url(UnifontExMono.ttf)
    format("truetype");
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: unifont, sans-serif;
  font-size: 32px;
  image-rendering: crisp-edges;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pixel-border {
  border: 12px solid transparent;
  border-image: url(../images/pixelborder.webp) 4 stretch;
  border-radius: 20px;
  margin: 2px;
}

.pixel-border img {
  margin: -12px;
}

.dark-stripe-background {
  background: linear-gradient(
        to bottom,
        var(--dark-stripe) 75%,
        var(--light-stripe) 25%
    );
  background-size: 100% 12px;
}