/* ================ NAMING CONVENTIONS ================ */
/* Container - element used to position elements it contains */
/* Frame - element used to contain an image and its styling elements */

/* ================ VARIABLES ================ */

:root {
  --background-color: #ffffff;
  --foreground-color: #000000;
  --dark-stripe: #6e6e6e;
  --light-stripe: #757575;
}

/* ================ FONTS ================ */

@font-face {
  font-family: unifont;
  src: url(UnifontExMono.ttf)
    format("truetype");
}

/* ================ GLOBAL STYLING ================ */

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: unifont, sans-serif;
  font-size: 32px;
  image-rendering: crisp-edges;
}

/* ================ LAYOUT COMPONENTS ================ */

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frame {
  display: flex;
  z-index: 0;
}

.frame div {
  display: flex;
}

.frame img {
  max-width: calc(100% + 24px);
  max-height: calc(100% + 24px);
  border-radius: 20px;
  margin: -12px;
  z-index: -1;
}

/* ================ BORDERS ================ */

.pixel-border {
  border: 12px solid transparent;
  border-image: url(../images/pixelborder.webp) 4 stretch;
  border-radius: 20px;
  margin: 2px;
}

/* ================ BACKGROUNDS ================ */

.dark-stripe-background {
  background: linear-gradient(
        to bottom,
        var(--dark-stripe) 75%,
        var(--light-stripe) 25%
    );
  background-size: 100% 12px;
}