/* Containers */
#homepage-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 4px;
}

#homepage-columns-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}

/* Banner */
#banner-frame {
    width: 100%;
}

/* Columns */
.column {
    margin: 2px;
}

.side-column {
    background-color: var(--background-color);
    width:22%;
}

#centre-column {
    width:55%;
}

/* Column items */
#welcome {
    margin-top: 4px;
}

#welcome-text {
    padding-inline: 1em;
    padding-bottom: 1em;
}

#fine-print {
    margin-top: 1em;
    font-size: 16px;
}