/* Containers */
#homepage-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    padding: 4px;
}

#homepage-columns-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}

/* Banner */
#banner-frame {
    width: 70%;
}

/* Columns */
.column {
    background-color: var(--background-color);
    margin: 2px;
}

.side-column {
    width:30%;
}

#centre-column {
    width:40%;
}