#homepage-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

#banner-frame {
    display: flex;
    justify-content: center;
}

#banner-frame div {
    display: flex;
    width:70%;
}

#banner-frame img {
    z-index: -1;
    margin: -12px;
    width: calc(100% + 24px);
    border-radius: 20px;
}

#homepage-columns-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.side-column {
    width:30%;
}

#centre-column {
    width:40%;
}