/* Containers */
#homepage-content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    padding: 4px;
}

#homepage-columns-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4px;
}

/* Header */
#header h1 {
    text-align: center;
}
#header p {
    background-color: var(--primary);
    text-wrap-mode: nowrap;
}

/* Columns */
.column {
    margin: 2px;
}

.side-column {
    width:20%;
}

#centre-column {
    width:60%;
}

#left-column {
    padding-top: 1em;
}

/* Column items */
#welcome {
    margin-top: 4px;
}

#welcome-text {
    padding-inline: 1em;
    padding-bottom: 1em;
    padding-top: 0.4em;
}

#fine-print {
    margin-top: 1em;
    font-size: 16px;
}

.nav-link {
    display: inline-block;
    margin-block: 0.2em;
    padding-block: 0.1em;
    width: 100%;
    text-indent: 0.7em;
    color: var(--primary);
    background-color: var(--secondary);
}

.nav-link:hover {
    color: var(--tertiary);
}