body {
    text-align: center;
}

#not-found-container {
    margin-top: 5vh;
    padding-inline: 5vw;
    padding-block: 6vh;
    background-color: var(--primary);
}

img {
    max-height: 40vh;
    max-width: 80vw;
    padding-bottom: 5vh;
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 3vh;
}