body {
    text-align: center;
}

#not-found-container {
    margin-top: 20vh;
    padding-inline: 5vw;
    padding-block: 6vh;
    background-color: var(--primary);
}

h1 {
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 3vh;
}