body {
    text-align: center;
}

#not-found-container {
    margin-top: 10vh;
    margin-inline: 5vw;
    padding-inline: 5vw;
    background-color: var(--background-color);
}

h1 {
    letter-spacing: 1px;
}