@font-face {
  font-family: unifont;
  src: url(UnifontExMono.ttf)
    format("truetype");
}

:root {
  --x: 0.5;
  --y: 0.5;
}

body {
  background-color: floralwhite;
  color: black;
  font-family: unifont, sans-serif;
  font-size: x-large;
  letter-spacing: 1px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#figframe {
  display: grid;
  grid-template-columns: 1fr;
}

#figframe img {
  max-width: 90vw;
  max-height: 70vh;
  grid-row-start: 1;
  grid-column-start: 1;
}

#figbody {
  z-index: 2;
}

#figeyes {
  z-index: 1;
  transform: translate(calc(4% * (var(--x))), calc(3% * var(--y)));
}

#figeyesbg {
  z-index: 0;
}