:root {
  --x: 0.5;
  --y: 0.5;
}

body {
  background-color: floralwhite;
  color: black;
  font-family: Verdana;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#frame {
  display: grid;
  grid-template-columns: 1fr;
}

#frame img {
  max-width: 90vw;
  max-height: 70vh;
  grid-row-start: 1;
  grid-column-start: 1;
}

#figbody {
  z-index: 2;
}

#figeyel {
  z-index: 1;
  transform: translate(calc(3% * (var(--x))), calc(3% * var(--y)));
}

#figeyer {
  z-index: 1;
  transform: translate(calc(3% * (var(--x))), calc(3% * var(--y)));
}

#figeyesbg {
  z-index: 0;
}