/* Variables to track mouse position */
:root {
  --x: 0.5;
  --y: 0.5;
}

/* Figure styling */
#figure-frame {
  display: grid;
  grid-template-columns: 1fr;
}

#figure-frame img {
  max-width: 90vw;
  max-height: 70vh;
  grid-row-start: 1;
  grid-column-start: 1;
}

#figure-body {
  z-index: 2;
}

#figure-eyes {
  z-index: 1;
  transform: translate(calc(4% * (var(--x))), calc(3% * var(--y)));
  user-select: none;
}

#figure-eyes-background {
  z-index: 0;
  user-select: none;
}